.header {
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .header {
        height: 70vh !important;
        background: url(https://us.123rf.com/450wm/maximkabb/maximkabb2311/maximkabb231100599/217771968-beautiful-cherry-tree-blossoming-on-spring-beauty-in-nature-tender-cherry-branches-on-sunny-spring.jpg?ver=6) no-repeat center;
        background-size: cover;
    }

    .title {
        margin-bottom: 40px;
        font-size: 60px;
        font-weight: 600;
        text-transform: uppercase;
    }

    p {
        margin-bottom: 40px;
        font-size: 18px;
        color: #000000 ;

        
    }

    